/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

/*----------- СБРОС СТИЛЕЙ ----------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0 auto;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1024px; /*1440*/
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
}
