/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --link-hover-color: rgba(255, 0, 112, 0.4);
  --article-title-color: #000028;
  --section__title-color: #ff0070;
  --background-color: #000028;
  --main-gap: 20px;
  --font-family: "IBM Plex mono", sans-serif;
  --text-font-size: 18px;
  --text-line-height: 23.4px;
  --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --background-image: url("./images/cover-image-dark.png");
  --decorative-element-inset: 20px;
  --display-value: block;
}

@media (max-width: 376px) {
  :root {
    --main-gap: 10px;
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --decorative-element-inset: 10px;
  }
}
